name: Tests

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.4.5

      - name: Install dependencies
        run: deno install

      - name: Run Tests
        run: deno test

      - name: Run Linter
        run: deno lint
